.Footer {
	background-color: rebeccapurple;
	height: clamp(8vh, 8vh + 1vw, 11vh);

	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer p {
	margin: 0;
	padding: 0.3em;

	text-align: center;
}
