.MovieCard {
	z-index: 9999;
	position: fixed;
	inset: 0;

	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
	background-color: var(--color-card-bg);
	background-blend-mode: multiply;

	justify-content: center;
	align-items: center;
}

.MovieCard-close-btn {
	position: absolute;
	top: 0;
	right: 0;

	z-index: 999999;

	padding: 0.3em 1.2em;
	margin: 1em;

	text-align: center;

	cursor: pointer;

	border: none;
	border: 2px solid var(--color-card-bg);
	border-radius: 2em;
	background-color: var(--color-main-bg);
	color: var(--color-secondary);

	font-size: 1.3em;

	transition: all 0.2s ease-in-out;
}

.MovieCard-close-btn:hover,
.MovieCard-close-btn:focus {
	background-color: var(--color-secondary);
	color: var(--color-main-bg);
}

.MovieCard-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 75vw;
	margin: auto;
	margin-top: 5em;
}

.MovieCard-hero {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.MovieCard-hero-first,
.MovieCard-hero-second {
	position: relative;
	width: 40%;
}

.MovieCard-hero-second {
	align-self: center;
}

.MovieCard-title {
	font-size: clamp(1rem, 2.5vw, 2rem);
}

.MovieCard-img {
	width: 100%;
	max-width: 300px;
	margin: auto;
}

.MovieCard-score {
	position: absolute;
	top: clamp(-3%, -3% + 1vw, 3%);
	left: clamp(10%, 8vw, 80%);

	font-weight: 700;
	font-size: 1.1em;
	background-color: var(--color-secondary);
	color: black;
	padding: 0.15em 0.4em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 2em;
}

@media (min-width: 1200px) {
	.MovieCard-score {
		left: clamp(25%, 12% + 8vw, 80%);
	}
}

.MovieCard-genres span {
	margin-right: 0.5em;
}

.MovieCard-overview {
	margin: 1em 0;
	overflow-y: scroll;
	height: 20vh;
}

.MovieCard-cast {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;

	width: 90%;
	margin: auto;
}

.MovieCard-casts {
	width: 90%;
	margin: auto;

	display: flex;

	overflow-x: auto;
}

.MovieCard-cast-item {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin: 1em;
}

.MovieCard-cast-item img {
	justify-self: flex-start;
	object-fit: cover;
	width: 100%;
	height: 5em;

	margin: 0.5em auto;
	border: 2px solid #576134a1;
}

.MovieCard-cast-item p {
	text-align: center;
	font-size: 0.7em;
	font-weight: 700;
}
